# Entornos virtuales
env/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Base de datos local (Cada quien debe tener la suya para probar)
db.sqlite3

# Variables de entorno (por si luego usas contraseñas)
.env